.kline-chart {
  width: 100%;
  min-height: 400px;
  position: relative;
}

.kline-chart .echarts {
  width: 100%;
  height: 100%;
}

/* ECharts图表容器的默认样式 */
.kline-chart > div {
  width: 100%;
  height: 100%;
}

/* 响应式调整 */
@media (max-width: 768px) {
  .kline-chart {
    min-height: 300px;
  }
}